body{
    margin:0px 0px 0px 0px;
}
.glowna1{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.naglowek{
    top:0px;
    left:0px;
    height: 40px;
    width: 100%;
    background-color: aquamarine;
    display: block;
    position: fixed;
    z-index: -1;
}

.naglowektekst{
    margin-top: 10px;
    display:grid;
    grid-template-columns: 50px 1fr 10% 10% 10% 10% 10%;
    gap: 15px;
}

.naglowekprzerwa{
    flex: 1fr;
}

.startgap{
    height: 20px;
}

.glowna2{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.gap{
    height: 25px;
}
.gap2{
    height: 60px;
}

.lewo{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.foto{
    width: 100%;
    z-index: -2;
}

.prawo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.cennik{
    margin-left: 5%;
    margin-right: auto;
    width: 80%;
}

.kontakt{
    background-color: aquamarine;
    height: 150px;
}

.kolorkafelki{
    background-color: aquamarine;
    margin-bottom: 30px;
    z-index: 2;
}
.kafelkigrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.kafelek{
    position: relative;
}
.kafelkifoto{
    width: 100%;
    /*position: absolute;*/
}
.kafelkifoto2{
    width: 1%;
    height: 100%;
    opacity: 0%;
    position: absolute;
    left: 0px;
    transition: 1s;
}

.kafelek:hover .kafelkifoto2{
    width: 100%;
    opacity: 100%;
    transition-delay: 0.3s;
}
    
